#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tamanioOpcionesMenu{
  font-weight: 500;
}

.tamanioOpcionesMenu:hover{
  color: #3cbbeb !important;
  font-weight: 650;
}