#root {
  max-width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mainSection{
  flex-grow: 1;
  background-color: #212529;
}

.tamanioOpcionesMenu{
  font-weight: 500;
}


.tamanioOpcionesMenu:hover{
  color: #3cbbeb !important;
  font-weight: 650;
}
